.main {
  background-color: white;
  border: solid green 3px;
  border-radius: 25px;
  
}

.header-text {
  margin-left: 20px;
  border: solid green 3px;
}

.header-container {
  height: 150px;
  width: 100%;
  background-color: lightgray;
}