.main-layout {
  border: solid blue 3px;
  display: flex;
  justify-content: flex-start;
}

.scene {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.navigation {
  border: solid red 3px;
  height: 1000px;
  width: 500px;
  z-index: 1;
}

